<%- include("templates/header") %> 
<% const heroStyle = `
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fa;
  padding-top: 2rem;
  padding-bottom: 2rem;
`; %>

<div style="<%= heroStyle %>">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Hello, this is my Cool application!</h1>
        <p>
          This application uses Bootstrap, EJS and
          MongoDB to complete Comp 2537 Assignment 2.
        </p>
      </div>
      <div class="col">
        <a href="/signup" class="btn btn-primary m-3">Sign Up</a>
        <a href="/login" class="btn btn-primary m-3">Log In</a>
      </div>
    </div>
  </div>
</div>

<%- include("templates/footer") %> 